<div class="container mx-auto flex">
  <div class="w-full flex">
    <div class="w-full relative">
      <div class="css-mb with-glare">
        <div class="mb-display-position">
          <div class="mb-display">
            <div class="mb-screen-position">
              <div class="mb-screen">

                <!-- Image (aspect 16:10 recommended, but not required). You might also want to change or remove the background color, in case the picture is not big enough, or rendering is off  -->
                <img :src="desktop" :alt="title" />
                <!-- Image by Jonas Nilsson Lee from unsplash.com -->

                <!-- Youtube - don't forget to remove glare -->
                <!-- <iframe width="960" height="480" src="https://www.youtube.com/embed/GUEZCxBcM78?rel=0&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=2" frameborder="0"></iframe> -->

                <!-- Iframe, simple website - don't forget to remove glare -->
                <!-- <iframe src="http://example.com" frameborder="0"></iframe> -->

              </div>
            </div>
          </div>
        </div>
        <div class="mb-body"></div>
        <div class="mb-bottom-cover"></div>
      </div>
      <!-- cellphone -->
      <div class="w-3/12 absolute bottom-0 right-0 -mr-5">
        <div class="iphone-container">
          <div class="css-iphone with-glare">
            <div class="iphone-body">
              <div class="iphone-screen-position">
                <div class="iphone-home-button"></div>
                <div class="iphone-screen">
                  <img :src="mobile" :alt="title" />
                </div>
              </div>
              <div class="iphone-buttons-right"></div>
              <div class="iphone-buttons-left"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>