.theme--light {
  --theme-color: #FAFCFF;
  --theme-HS: 216, 100%;
  --theme-HSL: 216, 100%, 99%;
  --text-color: #0D0D0D;
  --text-HS: 0, 0%;
  --text-HSL: 0, 0%, 5%;
  color: var(--text-color);
  background: var(--theme-color);
}
.theme--dark {
  --theme-HS: var(--dark-HS);
  --theme-HSL: var(--dark-HSL);
  --theme-color: var(--dark-color);
  --theme-050: hsl(var(--dark-HS), 15%);
  --theme-100: hsl(var(--dark-HS), 20%);
  --theme-150: hsl(var(--dark-HS), 25%);
  --theme-200: hsl(var(--dark-HS), 30%);
  --theme-250: hsl(var(--dark-HS), 35%);
  --theme-300: hsl(var(--dark-HS), 40%);
  --theme-350: hsl(var(--dark-HS), 45%);
  --theme-400: hsl(var(--dark-HS), 50%);
  --theme-450: hsl(var(--dark-HS), 55%);
  --theme-500: hsl(var(--dark-HS), 60%);
  --theme-550: hsl(var(--dark-HS), 65%);
  --theme-600: hsl(var(--dark-HS), 70%);
  --theme-650: hsl(var(--dark-HS), 75%);
  --theme-700: hsl(var(--dark-HS), 80%);
  --theme-750: hsl(var(--dark-HS), 85%);
  --theme-800: hsl(var(--dark-HS), 90%);
  --theme-850: hsl(var(--dark-HS), 95%);
  --theme-900: hsl(var(--dark-HS), 100%);
  --text-color: #fcfcfc;
  --text-HS: 216, 100%;
  --text-HSL: 216, 100%, 99%;
  color: var(--text-color);
  // background: var(--theme-color);
}