.bg-custom-50 {
  background-position-x: center;
  @include from (lg) {
    background-position: calc(100% - 20vw) center;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    @include from(lg) {
      background: linear-gradient(90deg, transparent, var(--theme-300) 50%);
    }
  }
}