/* In your CSS */
:root {
  --primary-color: #1A77C3;
  --primary-HS: 207, 76%;
  --primary-HSL: 207, 76%, 43%;
  --secondary-color: #032447;
  --secondary-HS: 211, 92%;
  --secondary-HSL: 211, 92%, 15%;
  --accent-color: #2B99E9;
  --accent-HS: 205, 81%;
  --accent-HSL: 205, 81%, 54%;
  --accent2-color: #1364A9;
  --accent2-HS: 208, 80%;
  --accent2-HSL: 208, 80%, 37%;
  --text-color: #263640;
  --text-HS: 203, 25%;
  --text-HSL: 203, 25%, 20%;
  --error-color: #E42424;
  --error-HS: 0, 78%;
  --error-HSL: 0, 78%, 52%;
  --warning-color: #FBCB04;
  --warning-HS: 48, 97%;
  --warning-HSL: 48, 97%, 50%;
  --success-color: #5CBC5C;
  --success-HS: 120, 42%;
  --success-HSL: 120, 42%, 55%;
  --info-color: #04CBFB;
  --info-HS: 192, 97%;
  --info-HSL: 192, 97%, 50%;
}

:root {  
  --light-color: #F6F9FE;
  --light-HS: 218, 80%;
  --light-HSL: 218, 80%, 98%;
  --dark-color: #032447;
  --dark-HS: 211, 92%;
  --dark-HSL: 211, 92%, 15%;
  
  // --theme-color: var(--light-color);
  // --theme-050: hsl(var(--light-HS), 100%);
  // --theme-100: hsl(var(--light-HS), 99%);
  // --theme-150: hsl(var(--light-HS), 98%);
  // --theme-200: hsl(var(--light-HS), 97%);
  // --theme-250: hsl(var(--light-HS), 96%);
  // --theme-300: hsl(var(--light-HS), 95%);
  // --theme-350: hsl(var(--light-HS), 94%);
  // --theme-400: hsl(var(--light-HS), 93%);
  // --theme-450: hsl(var(--light-HS), 92%);
  // --theme-500: hsl(var(--light-HS), 91%);
  // --theme-550: hsl(var(--light-HS), 90%);
  // --theme-600: hsl(var(--light-HS), 89%);
  // --theme-650: hsl(var(--light-HS), 88%);
  // --theme-700: hsl(var(--light-HS), 87%);
  // --theme-750: hsl(var(--light-HS), 86%);
  // --theme-800: hsl(var(--light-HS), 85%);
  // --theme-850: hsl(var(--light-HS), 84%);
  // --theme-900: hsl(var(--light-HS), 83%);
  // --theme-950: hsl(var(--light-HS), 82%);

  --theme-color: #F6F9FE;
  --theme-050: hsl(218, 80%, 100%);
  --theme-100: hsl(218, 80%, 99%);
  --theme-150: hsl(218, 80%, 98%);
  --theme-200: hsl(218, 80%, 97%);
  --theme-250: hsl(218, 80%, 96%);
  --theme-300: hsl(218, 80%, 95%);
  --theme-350: hsl(218, 80%, 94%);
  --theme-400: hsl(218, 80%, 93%);
  --theme-450: hsl(218, 80%, 92%);
  --theme-500: hsl(218, 80%, 91%);
  --theme-550: hsl(218, 80%, 90%);
  --theme-600: hsl(218, 80%, 89%);
  --theme-650: hsl(218, 80%, 88%);
  --theme-700: hsl(218, 80%, 87%);
  --theme-750: hsl(218, 80%, 86%);
  --theme-800: hsl(218, 80%, 85%);
  --theme-850: hsl(218, 80%, 84%);
  --theme-900: hsl(218, 80%, 83%);
  --theme-950: hsl(218, 80%, 82%);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --light-color: #F6F9FE;
//     --light-HS: 218, 80%;
//     --light-HSL: 218, 80%, 98%;
//     --dark-color: #0E455E;
//     --dark-HS: 199, 74%;
//     --dark-HSL: 199, 74%, 21%;

//     --theme-color: var(--dark-color);
//     --theme-050: hsl(var(--dark-HS), 15%);
//     --theme-100: hsl(var(--dark-HS), 20%);
//     --theme-150: hsl(var(--dark-HS), 25%);
//     --theme-200: hsl(var(--dark-HS), 30%);
//     --theme-250: hsl(var(--dark-HS), 35%);
//     --theme-300: hsl(var(--dark-HS), 40%);
//     --theme-350: hsl(var(--dark-HS), 45%);
//     --theme-400: hsl(var(--dark-HS), 50%);
//     --theme-450: hsl(var(--dark-HS), 55%);
//     --theme-500: hsl(var(--dark-HS), 60%);
//     --theme-550: hsl(var(--dark-HS), 65%);
//     --theme-600: hsl(var(--dark-HS), 70%);
//     --theme-650: hsl(var(--dark-HS), 75%);
//     --theme-700: hsl(var(--dark-HS), 80%);
//     --theme-750: hsl(var(--dark-HS), 85%);
//     --theme-800: hsl(var(--dark-HS), 90%);
//     --theme-850: hsl(var(--dark-HS), 95%);
//     --theme-900: hsl(var(--dark-HS), 100%);

//     --text-color: #fcfcfc;
//     --text-HS: 0, 0%;
//     --text-HSL: 0, 0%, 99%;

//     --primary-color: #fcfcfc;
//     --primary-HS: 0, 0%;
//     --primary-HSL: 0, 0%, 99%;
//     --secondary-color: #fcfcfc;
//     --secondary-HS: 0, 0%;
//     --secondary-HSL: 0, 0%, 99%;
//     --accent-color: #9edaff;
//     --accent-HS: 203, 100%;
//     --accent-HSL: 203, 100%, 81%;
//     --accent-2-color: #005fb8;
//     --accent-2-HS: 209, 100%;
//     --accent-2-HSL: 209, 100%, 36%;
//     --error-color: #ff3c32;
//     --error-HS: 3, 100%;
//     --error-HSL: 3, 100%, 60%;
//     --warning-color: #fba905;
//     --warning-HS: 40, 97%;
//     --warning-HSL: 40, 97%, 50%;
//     --success-color: #00bf38;
//     --success-HS: 138, 100%;
//     --success-HSL: 138, 100%, 37%;
//     --info-color: #00b5c2;
//     --info-HS: 184, 100%;
//     --info-HSL: 184, 100%, 38%;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {    
//     --light-color: #F6F9FE;
//     --light-HS: 218, 80%;
//     --light-HSL: 218, 80%, 98%;
//     --dark-color: #0E455E;
//     --dark-HS: 199, 74%;
//     --dark-HSL: 199, 74%, 21%;

//     --theme-color: var(--light-color);
//     --theme-050: hsl(var(--light-HS), 100%);
//     --theme-100: hsl(var(--light-HS), 99%);
//     --theme-150: hsl(var(--light-HS), 98%);
//     --theme-200: hsl(var(--light-HS), 97%);
//     --theme-250: hsl(var(--light-HS), 96%);
//     --theme-300: hsl(var(--light-HS), 95%);
//     --theme-350: hsl(var(--light-HS), 94%);
//     --theme-400: hsl(var(--light-HS), 93%);
//     --theme-450: hsl(var(--light-HS), 92%);
//     --theme-500: hsl(var(--light-HS), 91%);
//     --theme-550: hsl(var(--light-HS), 90%);
//     --theme-600: hsl(var(--light-HS), 89%);
//     --theme-650: hsl(var(--light-HS), 88%);
//     --theme-700: hsl(var(--light-HS), 87%);
//     --theme-750: hsl(var(--light-HS), 86%);
//     --theme-800: hsl(var(--light-HS), 85%);
//     --theme-850: hsl(var(--light-HS), 84%);
//     --theme-900: hsl(var(--light-HS), 83%);
//     --theme-950: hsl(var(--light-HS), 82%);

//     --primary-color: #F8C400;
//     --primary-HS: 47, 100%;
//     --primary-HSL: 47, 100%, 49%;
//     --secondary-color: #0E455E;
//     --secondary-HS: 199, 74%;
//     --secondary-HSL: 199, 74%, 21%;
//     --accent-color: #F2C879;
//     --accent-HS: 39, 82%;
//     --accent-HSL: 39, 82%, 71%;
//     --accen-2-color: #F27405;
//     --accen-2-HS: 28, 96%;
//     --accen-2-HSL: 28, 96%, 48%;
//     --text-color: #0D0D0D;
//     --text-HS: 0, 0%;
//     --text-HSL: 0, 0%, 5%;
//     --error-color: #993333;
//     --error-HS: 0, 50%;
//     --error-HSL: 0, 50%, 40%;
//     --warning-color: #F2E205;
//     --warning-HS: 56, 96%;
//     --warning-HSL: 56, 96%, 48%;
//     --success-color: #025951;
//     --success-HS: 174, 96%;
//     --success-HSL: 174, 96%, 18%;
//     --info-color: #023059;
//     --info-HS: 208, 96%;
//     --info-HSL: 208, 96%, 18%;
//   }
// }
