<section id="work-with-me" class="overflow-hidden text-dark-base">
  <div class="mx-auto mt-10">
    <div class="container mx-auto relative mb-1">
      <div class="pb-5">
        <h1 class="text-center mb-3">Trabaja conmigo</h1>
        <p class="text-xl text-center">Agenda una video conferencia gratis, asi podré asesorarte y proponerte una solución tecnologica.</p>
      </div>
    </div>
    <div class="relative px-2 mx-auto lg:w-full md:w-6/12 sm:w-8/12 w-full flex justify-center">
      <!-- Start of Meetings Embed Script -->
      <div class="meetings-iframe-container w-full" data-src="https://meetings.hubspot.com/nandes-ingsistemas?embed=true"></div>
      <!-- <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script> -->
      <!-- End of Meetings Embed Script -->
    </div>
    <div class="relative bg-theme-050 -mt-16 z-20 h-12"></div>
  </div>
</section>