<section id="inicio" class="overflow-hidden text-dark-base">
  <!-- <div class="video-filter">
    <video class="w-full absolute object-cover sm:h-full bottom-0" loop autoplay muted src="background.mp4" style="object-position: 47% 50%;"></video>
  </div> -->
  <div class="container mx-auto">
    <div>
      <h1 class="text-center">
        Portfolio
      </h1>
    </div>
    <div class="relative grid lg:grid-cols-3 sm:grid-cols-2 gap-5 md:pt-12 pt-40 overflow-auto">
      <div>
        <article class="shadow-xl bg-theme-base rounded">
          <img class="bg-light-base w-full h-40 object-cover object-top transition object-container" src="friendsofredaxo.png" alt="">
          <div class="px-3 py-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint dolor laudantium eligendi molestias dolorum harum quos tempore, esse illo, iste repellat quam totam officiis, obcaecati omnis temporibus quidem dignissimos?</p>
          </div>
        </article>
      </div>
      <div>
        <article class="shadow-xl bg-theme-base rounded">
          <img class="bg-light-base w-full h-40 object-cover object-top" src="friendsofredaxo.png" alt="">
          <div class="px-3 py-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint dolor laudantium eligendi molestias dolorum harum quos tempore, esse illo, iste repellat quam totam officiis, obcaecati omnis temporibus quidem dignissimos?</p>
          </div>
        </article>
      </div>
      <div>
        <article class="shadow-xl bg-theme-base rounded">
          <img class="bg-light-base w-full h-40 object-cover object-top" src="friendsofredaxo.png" alt="">
          <div class="px-3 py-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint dolor laudantium eligendi molestias dolorum harum quos tempore, esse illo, iste repellat quam totam officiis, obcaecati omnis temporibus quidem dignissimos?</p>
          </div>
        </article>
      </div>
      <div>
        <article class="shadow-xl bg-theme-base rounded">
          <img class="bg-light-base w-full h-40 object-cover object-top" src="friendsofredaxo.png" alt="">
          <div class="px-3 py-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint dolor laudantium eligendi molestias dolorum harum quos tempore, esse illo, iste repellat quam totam officiis, obcaecati omnis temporibus quidem dignissimos?</p>
          </div>
        </article>
      </div>
      <div>
        <article class="shadow-xl bg-theme-base rounded">
          <img class="bg-light-base w-full h-40 object-cover object-top" src="friendsofredaxo.png" alt="">
          <div class="px-3 py-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint dolor laudantium eligendi molestias dolorum harum quos tempore, esse illo, iste repellat quam totam officiis, obcaecati omnis temporibus quidem dignissimos?</p>
          </div>
        </article>
      </div>
      <div>
        <article class="shadow-xl bg-theme-base rounded">
          <img class="bg-light-base w-full h-40 object-cover object-top" src="friendsofredaxo.png" alt="">
          <div class="px-3 py-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint dolor laudantium eligendi molestias dolorum harum quos tempore, esse illo, iste repellat quam totam officiis, obcaecati omnis temporibus quidem dignissimos?</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>