<section id="inicio" class="overflow-hidden text-dark-base" :data="data">
  <!-- <div class="video-filter">
    <video class="w-full absolute object-cover sm:h-full bottom-0" loop autoplay muted src="background.mp4" style="object-position: 47% 50%;"></video>
  </div> -->
  <div class="container mx-auto mt-10 mb-5">
    <div class="mb-5">
      <h1 class="text-center md:text-6xl mb-1">
        Portfolio
      </h1>
      <p class="text-center text-lg">A continuación se puede observar mis últimos trabajos realizados.
      <br><nuxt-link class="text-primary-base" to="/portfolio"><font-awesome-icon class="mr-2" :icon="['fas', 'link']" />Ver portfolio completo</nuxt-link>.</p>
    </div>
    <!-- <div class="text-center">
      <button class="bg-success-base hover:bg-success-400 text-light-base font-bold py-2 px-3 mb-2 rounded shadow-xl">
        Todos
      </button>
      <button class="bg-secondary-base hover:bg-secondary-700 text-light-base font-bold py-2 px-3 mb-2 rounded shadow-xl">
        Aplicaciones a medida
      </button>
      <button class="bg-secondary-base hover:bg-secondary-700 text-light-base font-bold py-2 px-3 mb-2 rounded shadow-xl">
        Sitios web administrables
      </button>
      <button class="bg-secondary-base hover:bg-secondary-700 text-light-base font-bold py-2 px-3 mb-2 rounded shadow-xl">
        Sitios web estáticos
      </button>
    </div> -->
    <div class="relative grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6 mb-6">
      <div class="pb-8" v-for="(item, id) in data" :key="id">
        <article class="bg-transparent">
          <!-- <img class="px-4 pt-3 bg-light-base w-full object-contain object-top transition hover:object-contain" :src="'portfolio/' + item.image" :alt="item.title"> -->
          <laptop-cellphone :desktop="'/portfolio/'+item.imageDesktop" :mobile="'/portfolio/'+item.imageMobile" :title="item.title" class="mb-1" />
          <div class="shadow-lg bg-theme-base rounded">
            <div class="px-3 py-2">
              <h1 class="mb-1 text-4xl truncate">{{ item.title }}</h1>
              <p class="text-sm truncate-2">{{ item.description }}</p>
            </div>
            <footer class="text-right pb-4 pt-2 px-3">
              <nuxt-link class="shadow-xl text-light-base bg-accent-300 rounded px-3 py-2 text-sm" :to="`/portfolio/${item.slug}`">Ver proyecto</nuxt-link>
            </footer>
          </div>
        </article>
      </div>
    </div>
    <div class="flex justify-center">
      <nuxt-link class="mb-2 text-center text-xl rounded-full bg-secondary-base hover:bg-secondary-800 text-light-base px-5 pt-2 pb-2 border-primary-200 border-4 shadow-lg
      transition-transform duration-200 ease-in-out transform hover:scale-105" to="/portfolio">
        <font-awesome-icon class="mr-2" :icon="['fas', 'link']" />
        <span>Ver Portfolio Completo</span>
      </nuxt-link>
    </div>
  </div>
</section>