<footer class="bg-dark-base text-light-base w-full py-1">
  <div class="container mx-auto flex flex-wrap sm:justify-between justify-center px-2">
    <h3>
      {{ new Date().getFullYear() }} © Fernando Averanga A. Todos los derechos reservados.
    </h3>
    <ul class="social-media flex justify-center">
      <li class="mx-2">
        <a class="hover:text-primary-base" href="https://api.whatsapp.com/send?phone=59165636603" target="_blank" rel="noopener noreferrer">
          <font-awesome-icon :icon="['fab', 'whatsapp']"  />
        </a>
      </li>
      <li class="mx-2">
        <a class="hover:text-primary-base" href="https://twitter.com/2062nandes" target="_blank" rel="noopener noreferrer">
          <font-awesome-icon :icon="['fab', 'twitter']"  />
        </a>
      </li>
      <li class="mx-2">
        <a class="hover:text-primary-base" href="https://bo.linkedin.com/in/fernando-javier-averanga-aruquipa" target="_blank" rel="noopener noreferrer">
          <font-awesome-icon :icon="['fab', 'linkedin']"  />
        </a>
      </li>
      <li class="mx-2">
        <a class="hover:text-primary-base" href="https://github.com/nandes2062" target="_blank" rel="noopener noreferrer">
          <font-awesome-icon :icon="['fab', 'github']"  />
        </a>
      </li>
      <li class="mx-2">
        <a class="hover:text-primary-base" href="https://gitlab.com/2062nandes" target="_blank" rel="noopener noreferrer">
          <font-awesome-icon :icon="['fab', 'gitlab']"  />
        </a>
      </li>
    </ul>
  </div>
</footer>